.input_body {
    margin-top: 5px;
    display: flex;
    gap: .8rem;
    border-radius: 6px;
    padding: .8rem;
    font-size: .875rem;
    background-color: #F4F6FF;

    input {
        width: 100%;
        background-color: transparent;
        font-weight: 400;
        color: #000;
        border: 0;
    }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none
}

input:focus {
    outline: 0
}