.modal {
   font-size: 12px;
   border-radius: 12px;
   width: 37rem;
   background-color: white;

   .header {
      width: 100%;
      font-size: 18px;
      margin-bottom: 1rem;
      position: relative;
   }

   h3 {
      padding: 2rem 2rem 0 2rem;
      text-transform: uppercase;
      text-align: start;
   }

   .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem 2rem 2rem 2rem;
      font-size: 14px;
      gap: 20px;

      button{
         width: 100%;
      }
   }
}

.exchangeMessage{
   width: 100%;
   display: flex;
   justify-content: center;
}

.confirmExchangeBtn{
   width: 100%;
}

.reviews{
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 20px;
}

.review{
   border-bottom: solid 1px #CCC;
}