* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    color: white;
    padding: 12px;
    width: 70%;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn_success {
    border: solid 1px #003092;
    background-color: #003092;
    color: white;
    transition: 0.5s;
}

.btn_success:hover {

    background-color: white;
    color: #003092;
}

.btn_danger {
    background-color: red;
    color: white;
}

.btn_danger:hover {
    transition: 0.5s;
    background-color: white;
    color: red;
}

.input_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

body {
    height: 100vh;
}


.label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}